
/* A prompt window with a dark blue background */
.PromptWindow {
  background-color: #1a1a2e; /* dark blue */
  color: #f2f2f2; /* light gray */
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

/* Input field styles */
input[type=text], textarea {
  background-color: #606060; /* medium gray */
  color: #f2f2f2; /* light gray */
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Submit button styles */
button[type=submit] {
  background-color: #1a1a2e; /* dark blue */
  color: #f2f2f2; /* light gray */
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}


.PromptWindow h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.PromptWindow p {
  margin-bottom: 1rem;
}

.PromptWindow form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.PromptWindow form input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.PromptWindow form button[type="submit"] {
  background-color: #2c2c54;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PromptWindow form button[type="submit"]:hover {
  background-color: #5c5c84;
}

.NavButton nav button[type='button'] {
  background-color: #2c2c54;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.NavButton nav button[type='button']:hover {
  background-color: #5c5c84;
}

.reset-button {
  background-color: #2c2c54; /* dark blue */
  color: #f2f2f2; /* light gray */
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem; /* Adjust the padding for smaller size */
  font-size: 0.9rem; /* Adjust the font size for smaller size */
  cursor: pointer;
  width: 3%;
}

.reset-button:hover {
  background-color: #5c5c84;
}


.c {
  color: #33cc332e;
  color: #ff6666;
  color: #1a1a2e;

}

